
* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

#threejs-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    border: 2px solid blue;
    pointer-events: none;
    animation: js 1.5s 1.5s ease both;
}

@keyframes js {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 50pt;
    white-space: nowrap; /* Prevent line breaks */
    animation: h1 1.5s ease;
    z-index: 10;
}

@keyframes h1 {
    0% {
        opacity: 0;
        letter-spacing: 100px;
    }
    100% {
        opacity: 1;
        letter-spacing: 0px;
    }
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding-left: 25%;
    width: 50%;
    font-size: 20pt;
    text-align: justify;
    font-weight: 600;
}

#info {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensures animation stays within bounds */
}

.info-text {
    width: 70%;
    font-size: 18pt;
    font-weight: 600;
    text-align: justify;
    opacity: 0; /* Initially hidden */
    transform: translateX(-50vw); /* Start position off-screen */
}

.info-text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

#visualization {
    width: 100vw;
    height: 100vh;
}