* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.title {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48pt;
    white-space: nowrap; /* Prevent line breaks */
    animation: h1 1.5s ease;
}

@keyframes h1 {
    0% {
        opacity: 0;
        letter-spacing: 100px;
    }
    100% {
        opacity: 1;
        letter-spacing: 0px;
    }
}

#intro {
    width: 100vw;
    height: 100vh;
}

#visualization {
    width: 100vw;
    height: 200vh;
}

#threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #00000000;
    border: 2px solid blue;
    pointer-events: none;
    animation: js 1.5s 1s ease both;
}

@keyframes js {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

