* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.title {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48pt;
}

#intro {
    width: 100vw;
    height: 100vh;
}

#visualization {
    width: 100vw;
    height: 200vh;
}

#threejs-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
}